---
import Layout from '../layouts/Layout.astro';
import matches from '../../data/matches.json';

import Hero from '../components/Hero.astro'
import Match from '../components/Match.astro'
---

<Layout>
  <Hero title="Matches">
		<a class="team-calendar-link" href="https://calendar.google.com/calendar/u/0?cid=M2JiODVhZDVkMWViOTczYTg0MTY0OTcyNjNlZDU4YTczNmI0NGRhZTliOTI4YWU4MDRiZWMwZGM1OTI1MDBiY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">View Calendar</a>
	</Hero>
  <section class="matches container">
    <ul class="match-list">
      {matches.map(match => (
        <Match {...match} />
      ))}
    </ul>
  </section>
</Layout>
<style>
	.matches {
		padding-bottom: 5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.team-calendar-link {
		color: var(--color-accent-soft);
		font-weight: 300;
		text-decoration: none;
		transition: all 300ms ease;
		font-size: 1rem;
	}

	.team-calendar-link:active,
  .team-calendar-link.active,
  .team-calendar-link:hover,
	.team-calendar-link:focus {
    border-bottom: solid 0.125rem var(--color-accent-default);
    color: var(--color-accent-default);
		outline: none;
  }

	.match-list {
		display: flex;
		flex-direction: column;
	}
</style>