---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="hero">
  <div class="container">
    <h1 class="hero__title">{title}</h1>
  </div>
</section>
<style>
  .hero {
    border-bottom: 0.125rem solid #ff00ea;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 8rem;
    display: flex;
    backdrop-filter: blur(2rem);
    background-color: rgba(255,0,234, 0.1);
  }
  
  .hero__title {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
    align-self: end;
    color: #fff;
    padding: 1rem;
	}
</style>